<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>NY Times Articles Scrapper</title>

  <!-- Latest compiled and minified CSS & JS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css"> 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.5.1/chosen.css"> 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.5.1/chosen.jquery.min.js"></script> 
  <link rel="stylesheet" href="/css/style.css">  

</head>

<body>
  {{!-- <nav class="navbar navbar-default navbar-fixed-top"> --}}
        <div class="container" id="mainpage">        

            <div class="row">
                <div class="col-md-12">
                <div id="navbar" class="navbar-collapse collapse">

                  <h1 class="text-center text-regular">NYTimes Article Scrapper</h1> 
                  <div id="links">
                  <ul class="nav navbar-nav text-regular">
                      <li><a id="links" href="/">All Articles</a></li>
                      <li><a id="links" href="/articles">Saved Articles</a></li>
                      {{!-- <li><button type="button" class="btn btn-success" id="saved">Saved Articles</button></li> --}}
                      <li><button type="button" class="btn btn-success" id="scrape">Scrape Articles</button></li>
                  </ul>
                  </div>
                </div>
                </div> 
          </div>
            	          
      </div>
    {{!-- </nav> --}}
    <br>
    


  
{{{ body }}}

  <script src="/js/app.js"></script>
</body>
</html>

